body {
}
h1 {
    font-size: 42px;
    color: pink;
    font-family: 'Segoe UI';
}
em {
    background-color: yellow; /* Yellow is a good highlight color */
    font-style: italic;
}
.red {
    color: red;
}
#alert {
    background-color: red;
    color: white;
}
h2.blue {
    color: blue;
}

h2#toc {
    font-weight: bold; /* pogrubiona czcionka */
}
aside * {
    opacity: 0.6;
}
input[type="checkbox"][checked] {
   margin-left:50px;
}
h4 {
    font-weight: bold !important;
}
