Projekt/Dokumentacja.docx
Projekt/.vs/Projekt/config/applicationhost.config
Projekt/.vs/Projekt/DesignTimeBuild/.dtbcache.v2
Projekt/.vs/Projekt/v16/.suo
Projekt/Projekt/Projekt.Android/Projekt.Android.csproj.user
